html {
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: helvetica;
  font-size: 14px;
  background: #fcfcfc;
}

.main-container {
  width: 75%;
  margin: 10px auto;
  padding: 5px;
  border-radius: 0.3em;
}

.main-container h1 {
  text-align: center;
}

.text-box {
  margin: 0px auto;
  margin-bottom: 25px;
  width: 100%;
}
 
p {
  background-color: #759FA0;
  color: white;
  border: 0.5px solid black;
  border-radius: 0.3em;
  padding: 10px;
  text-align: center;
  margin: 6px;
  font-size: 91%;
}
